* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
}

.setting,
.statistics,
.size-pannel {
  margin: 20px auto;
  padding: 5px;
}

.setting__btn,
.statistics__text,
.size-pannel__text {
  margin: 5px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

#start {
  background: #b2cdfa;
}

.size-pannel__text {
  font-size: 1.8rem;
  color: blue;
  cursor: pointer;
}

.statistics__count {
  font-weight: bold;
}

.field {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.field__tile {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: not-allowed;
  transition: all 0.3s;
  animation: 0.3s ease-in-out;
  background: #dae8ff;
  position: relative;
}

.field__tile:before {
  content: "";
  padding-top: 100%;
}

.tile_space {
  opacity: 0;
}

.tile_allowed {
  cursor: grab;
  z-index: 1;
}

.tile_dragged {
  transform: scale(0.8);
}

.to-right {
  animation-name: right;
}

.to-left {
  animation-name: left;
}

.to-top {
  animation-name: top;
}

.to-bottom {
  animation-name: bottom;
}

@keyframes right {
  from {
    left: 0;
  }
  to {
    left: calc(100% + 5px);
  }
}

@keyframes left {
  from {
    right: 0;
  }
  to {
    right: calc(100% + 5px);
  }
}

@keyframes top {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(100% + 5px);;
  }
}

@keyframes bottom {
  from {
    top: 0;
  }
  to {
    top: calc(100% + 5px);;
  }
}

@media (max-width: 430px) {
  .field__tile {
    font-size: 2rem;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  background-color: rgba(80, 80, 80, 0.6);
}

.modal__overlay_show {
  display: flex;
}

.modal__content {
  position: relative;

  max-width: 500px;
  min-height: 120px;
  max-height: 90%;
  padding: 20px;
  overflow: auto;

  background-color: #ccc;
  border-radius: 5px;
}

.modal__text {
  font-size: 1.6rem;
  color: #3b85ff;
}

.modal__text > * {
  margin-bottom: 10px;
}

.modal__btn {
  display: block;
  margin: 20px auto 0;
  width: 136px;
  height: 38px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: black;
  text-transform: uppercase;

  background: #b2cdfa;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.3s;
}

.modal__btn:hover {
  background: #9fc3fe;
}
