* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
}

.setting,
.statistics,
.size-pannel {
  margin: 20px auto;
  padding: 5px;
}

.setting__btn,
.statistics__text,
.size-pannel__text {
  margin: 5px;
  padding: 5px;
}

.size-pannel__text {
  font-size: 1.8rem;
  color: blue;
  cursor: pointer;
}

.statistics__count {
  font-weight: bold;
}

.field {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.field__tile {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: not-allowed;
  transition: all 0.3s;
}

.field__tile:before {
  content: "";
  padding-top: 100%;
}

.tile_space {
  background: #ddd;
  color: #ddd;
}

.tile_allowed {
  cursor: grab;
  background: #dae8ff;
}

.tile_dragged {
  transform: scale(0.8);
}

.tile_over {
  opacity: 0.3;
}

@media (max-width: 430px) {
  .field__tile {
    font-size: 2rem;
  }
}
